h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(120, 110, 100);
    border: 1px solid rgb(120, 110, 100);
}

h2 {
    text-align: center;
    color: rgb(120, 110, 100);
    font-size: 45px;
    /* font-size: 2em; */
}

.root {
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.new_game {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

li {
    padding: 10px 0;
    color: rgb(83, 75, 68);
}

.rules_paragraph {
    margin-left: 20px;
    margin-right: 20px;
}