.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.square__component {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}

.field {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
}

.square__component {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #4b4b4b;
}