.best_score {
    padding: 20px;
    font-size: 2em;
    z-index: 0;
}
.footerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}
.footerBottom{
    width: 100%;
    bottom: 0px;
    position: absolute;
}
